<head>
  <meta charset="utf-8">
  <meta name="description" content="Tara Thai ~ Fine Thai restaurant on Hamlet Court Road, Westcliff-on-Sea">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Tara Thai ~ Spectacular Thai Food in Westcliff-on-Sea</title>

  <link rel="stylesheet" type="text/css" href="stylesheets/site.css">
  <%= favicon_tag 'images/tt-favicon.png' %>
  <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700" rel="stylesheet">
</head>
