<div class="tt-sticky-container">
  <div class="tt-sticky-top-left">
    <div class="tt-sticky-logo tt-sticky-menu-item">
      <a href="">
        <img class="tt-swirl-icon-large" src="images/tt-swirl-red.png" alt="Tara Thai Swirl Icon">
      </a>
    </div>
    <div class="tt-sticky-hamburger tt-sticky-menu-item">
      <a href="#tt-sticky-expanded-menu">
        <svg width="50" height="30">
          <line x1="23" y1="7" x2="47" y2="7" style="stroke:#302F2F; stroke-width:3; stroke-linecap:round"/>
          <line x1="23" y1="15" x2="47" y2="15" style="stroke:#302F2F; stroke-width:3; stroke-linecap:round"/>
          <line x1="23" y1="23" x2="47" y2="23" style="stroke:#302F2F; stroke-width:3; stroke-linecap:round"/>
        </svg>
      </a>
    </div>
    <div class="tt-sticky-expanded-menu" id="tt-sticky-expanded-menu">
      <div class="tt-sticky-expanded-menu-arrow">
        <svg class="tt-arrow-black" height="10" width="20">
          <polygon points="10,0 10,10 20,5" />
        </svg>
      </div>
      <div class="tt-sticky-expanded-menu-text">
        <a href="/#about-us">
          <p class="tt-sticky-type"><span class="tt-sticky-type-bold">A</span>bout <span class="tt-sticky-type-bold">U</span>s</p>
        </a>
      </div>
      <br>
      <div class="tt-sticky-expanded-menu-arrow">
        <svg class="tt-arrow-black" height="10" width="20">
          <polygon points="10,0 10,10 20,5" />
        </svg>
      </div>
      <div class="tt-sticky-expanded-menu-text">
        <a href="/#book-online">
          <p class="tt-sticky-type"><span class="tt-sticky-type-bold">B</span>ook <span class="tt-sticky-type-bold">O</span>nline</p>
        </a>
      </div>
      <br>
      <div class="tt-sticky-expanded-menu-arrow">
        <svg class="tt-arrow-black" height="10" width="20">
          <polygon points="10,0 10,10 20,5" />
        </svg>
      </div>
      <div class="tt-sticky-expanded-menu-text">
        <a href="/#gallery">
          <p class="tt-sticky-type"><span class="tt-sticky-type-bold">G</span>allery</p>
        </a>
      </div>
      <br>
      <div class="tt-sticky-expanded-menu-arrow">
        <svg class="tt-arrow-black" height="10" width="20">
          <polygon points="10,0 10,10 20,5" />
        </svg>
      </div>
      <div class="tt-sticky-expanded-menu-text">
        <a href="/#find-us">
          <p class="tt-sticky-type"><span class="tt-sticky-type-bold">F</span>ind <span class="tt-sticky-type-bold">U</span>s</p>
        </a>
      </div>
      <br>
      <div class="tt-sticky-expanded-menu-arrow">
        <svg class="tt-arrow-black" height="10" width="20">
          <polygon points="10,0 10,10 20,5" />
        </svg>
      </div>
      <div class="tt-sticky-expanded-menu-text">
        <a href="/#opening-hours">
          <p class="tt-sticky-type"><span class="tt-sticky-type-bold">O</span>pening <span class="tt-sticky-type-bold">H</span>ours</p>
        </a>
      </div>
      <br>
      <div class="tt-sticky-expanded-menu-arrow">
        <svg class="tt-arrow-black" height="10" width="20">
          <polygon points="10,0 10,10 20,5" />
        </svg>
      </div>
      <div class="tt-sticky-expanded-menu-text">
        <a href="/#contact-us">
          <p class="tt-sticky-type"><span class="tt-sticky-type-bold">C</span>ontact <span class="tt-sticky-type-bold">U</span>s</p>
        </a>
      </div>
    </div>
    <div class="tt-sticky-phone tt-sticky-menu-item">
      <a href="tel:01702391171" title="Call Tara Thai">
        <p class="tt-sticky-type">01702 391 171</p>
      </a>
    </div>
  </div>
  <div class="tt-sticky-bottom-right">
    <div class="tt-sticky-our-menu tt-sticky-menu-item">
      <a href="menu.html">
        <p class="tt-sticky-type"><span class="tt-sticky-type-bold">M</span>enu</p>
      </a>
    </div>
    <div class="tt-sticky-book tt-sticky-menu-item">
      <a href="/#book-online">
        <p class="tt-sticky-type tt-sticky-spacer"><span class="tt-sticky-type-bold">B</span>ook <span class="tt-sticky-type-bold">O</span>nline</p>
      </a>
    </div>
  </div>
</div>
