@font-face {
    font-family: 'NotoSansThai-Regular';
    src: url('fonts/NotoSansThai-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
