<div class="tt-content tt-content-food-menu">
  <div class="tt-menu-food-container">
    <div class="tt-menu-food-headings">
      <h1>Appetizers</h1>
    </div>
    <div class="tt-menu-food-section" id="tt-menu-starters">
      <div class="tt-menu-food-section-heading">
        <a href="#tt-menu-starters">
          <h2>Starters</h2>
          <svg class="tt-arrow-yellow" height="10" width="20">
            <polygon points="10,0 20,0 15,10" />
          </svg>
        </a>
        <a href="#close">
          <svg class="tt-cross" height="14" width="22">
            <line x1="10" y1="2" x2="20" y2="12" />
            <line x1="10" y1="12" x2="20" y2="2" />
          </svg>
        </a>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p></p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Tara Thai Platter</h3>
          <p>ธาราไทยแพลตเทอร์</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Mixed Starters (minimum for 2 persons): Chicken Satay, Golden Parcel,
            Chicken on Toast, Fish Cakes, Vegetables Rolls</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£12.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>1</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Chicken Satay</h3>
          <p>สะเต๊ะไ่ก่</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Chicken marinated and char-grilled, served with peanut sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>2</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Toong Tong</h3>
          <p>ถุงทอง</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Deep-fried minced chicken in a pastry purse, served with sweet chilli dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>3</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Kanom Pang Nah Gai</h3>
          <p>ขนมปังหน้าไก่</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Deep-fried minced chicken in batter spread on bread with sesame seed topping,
served with sweet chilli dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>4</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Sie Krong Moo</h3>
          <p>ซี่โครงหมู</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Grilled pork spare ribs marinated in herbs and honey</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>5</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Moo Ping</h3>
          <p>หมูปิ้ง</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Pork marinated and char-grilled, served with spicy Thai chilli dip.</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>6</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Kanom Jeeb</h3>
          <p>ขนมจีบ</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Thai style steamed dumplings with minced pork &amp; prawns, topped with fried
garlic, served with sweet soy sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>7</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Goong Hom Pah</h3>
          <p>กุ้งห่มผ้า</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Deep-fried marinated king prawns wrapped in pastry, served with sweet chilli
dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£6.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>8</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Goong Ma Prao</h3>
          <p>กุ้งมะพร้าว</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Deep-fried king prawns in batter and desicated coconut and bread crumb, served with sweet
chilli dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£6.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>9</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Tord Mun Pla</h3>
          <p>ทอดมันปลา</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Deep-fried spicy Thai fish cakes, served with sweet chilli dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>10</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Por Pia Tord</h3>
          <p>ปอเปี๊ยะทอด</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Deep-fried vegetable spring rolls, served with sweet chilli dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>11</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Por Pia Ped *</h3>
          <p>ปอเปี๊ยะเป็ด</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Deep-fried shredded duck rolls, topped with hoisin sauce &amp; cashew nuts</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>12</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Aromatic Crispy Duck</h3>
          <p>เป็ดทอดกรอบ</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Thai style crispy duck, served with 6 pancakes, sliced cucumber and spring onion,
accompanied with hoisin sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£10.50</p>
      </div>
    </div>
    <div class="tt-menu-food-section" id="tt-menu-soups">
      <div class="tt-menu-food-section-heading">
        <a href="#tt-menu-soups">
          <h2>Soups</h2>
          <svg class="tt-arrow-yellow" height="10" width="20">
            <polygon points="10,0 20,0 15,10" />
          </svg>
        </a>
        <a href="#close">
          <svg class="tt-cross" height="14" width="22">
            <line x1="10" y1="2" x2="20" y2="12" />
            <line x1="10" y1="12" x2="20" y2="2" />
          </svg>
        </a>
      </div>
      <div class="tt-menu-group-pricing">
        <p>
          <span class="tt-menu-group-pricing-bold">Chicken</span> £5.95 /
          <span class="tt-menu-group-pricing-bold">Prawn</span> £6.25 /
          <span class="tt-menu-group-pricing-bold">Mixed Seafood</span> £7.25
        </p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>16</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Tom Yum <img class="tt-menu-spicy-icon" src="images/spicy-1.svg" align="top" alt="Slightly Spicy"></h3>
          <p>ต้มยํา</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Traditional Thai hot &amp; sour clear soup, flavoured with lemongrass, lime leaves,
galangal, tomato and a final squeeze of fresh lemon also a touch of chilli oil</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>17</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Tom Kha <img class="tt-menu-spicy-icon" src="images/spicy-1.svg" align="top" alt="Slightly Spicy"></h3>
          <p>ต้มข่า</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Similar in taste to Tom Yum. This creamy soup is cooked with coconut milk and
it has a more distinct taste of galangal to mellow the flavour</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
    </div>
    <div class="tt-menu-food-section" id="tt-menu-salads">
      <div class="tt-menu-food-section-heading">
        <a href="#tt-menu-salads">
          <h2>Salads</h2>
          <svg class="tt-arrow-yellow" height="10" width="20">
            <polygon points="10,0 20,0 15,10" />
          </svg>
        </a>
        <a href="#close">
          <svg class="tt-cross" height="14" width="22">
            <line x1="10" y1="2" x2="20" y2="12" />
            <line x1="10" y1="12" x2="20" y2="2" />
          </svg>
        </a>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>20</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Som Tum * <img class="tt-menu-spicy-icon" src="images/spicy-1.svg" align="top" alt="Slightly Spicy"></h3>
          <p>ส้มตํา</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Papaya - Carrots salad mixed with chilli, fine beans, tomatoes, lemon juice and
roasted peanut</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£7.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>21</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Larb Gai <img class="tt-menu-spicy-icon" src="images/spicy-1.svg" align="top" alt="Slightly Spicy"> / <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>ลาบไก่</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Spicy minced chicken mixed with crushed roasted rice, chilli, red onion and
flavoured with fresh lemon juice</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£7.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>22</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Yum Nuer <img class="tt-menu-spicy-icon" src="images/spicy-1.svg" align="top" alt="Slightly Spicy"> / <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>ยําเนื้อ</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Sliced char-grilled beef, mixed with chilli, onion, and splash of hot &amp; sour
dressing</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£8.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>23</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Plah Goong <img class="tt-menu-spicy-icon" src="images/spicy-1.svg" align="top" alt="Slightly Spicy"> / <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>พล่ากุ้ง</p>
        </div>
        <div class="tt-menu-item-description">
          <p>A slightly spicy king prawns salad made with chilli, lemon grass, lime leaves,
red onion, flavoured with fresh lemon juice and chilli oil.</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£9.50</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>24</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Yum Talay <img class="tt-menu-spicy-icon" src="images/spicy-1.svg" align="top" alt="Slightly Spicy"> / <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>ยําทะเล</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Succulent mixed seafood marinated in fresh lemon juice, chilli, onion and carrot, tossed
with fresh salad</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£11.50</p>
      </div>
    </div>
    <div class="tt-menu-food-headings">
      <h1>Main Courses</h1>
    </div>
    <div class="tt-menu-food-section" id="tt-menu-curries">
      <div class="tt-menu-food-section-heading">
        <a href="#tt-menu-curries">
          <h2>Thai Curries</h2>
          <svg class="tt-arrow-yellow" height="10" width="20">
            <polygon points="10,0 20,0 15,10" />
          </svg>
        </a>
        <a href="#close">
          <svg class="tt-cross" height="14" width="22">
            <line x1="10" y1="2" x2="20" y2="12" />
            <line x1="10" y1="12" x2="20" y2="2" />
          </svg>
        </a>
      </div>
      <div class="tt-menu-group-pricing">
        <p>
          <span class="tt-menu-group-pricing-bold">Chicken</span> £8.25 /
          <span class="tt-menu-group-pricing-bold">Beef</span> £8.95 /
          <span class="tt-menu-group-pricing-bold">Prawns</span> £9.50
        </p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>30</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Massamun <img class="tt-menu-spicy-icon" src="images/spicy-1.svg" align="top" alt="Slightly Spicy"></h3>
          <p>มัสหมั่น</p>
        </div>
        <div class="tt-menu-item-description">
          <p>A typical Muslim curry in a mild curry sauce, cooked with coconut milk and a
special blend of herbs, onion and potatoes</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>C / B</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>31</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Gang Ga Ree <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>แกงกะหรี่</p>
        </div>
        <div class="tt-menu-item-description">
          <p>A medium spiced Thai yellow curry cooked with coconut milk, onion and potatoes,
topped with dried shallots</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>C / B</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>32</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Panang <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>แพนง</p>
        </div>
        <div class="tt-menu-item-description">
          <p>A popular thick and creamy red curry cooked with coconut milk and flavoured
with lime leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>C / B / Pr</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>33</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Gang Dang <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>แกงแดง</p>
        </div>
        <div class="tt-menu-item-description">
          <p>A famous Thai red curry cooked with coconut milk, bamboo shoots, aubergines,
capsicum, fine beans, lime leaves and basil leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>C / B / Pr</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>34</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Gang Khiew Whan <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>แกงเขียวหวาน</p>
        </div>
        <div class="tt-menu-item-description">
          <p>A famous Thai green curry cooked with coconut milk, bamboo shoots, aubergines,
capsicum, fine beans, lime leaves and basil leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>C / B / Pr</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>35</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Gang Pa <img class="tt-menu-spicy-icon" src="images/spicy-3.svg" align="top" alt="Very Spicy"></h3>
          <p>แกงป่า</p>
        </div>
        <div class="tt-menu-item-description">
          <p>A very spicy jungle curry based on red curry sauce cooked with bamboo shoots,
aubergines, capsicum, fine beans, krachai and Thai herbs</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>C / B / Pr</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>36</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Gang Ped - Lychee <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>แกงเป็ดลิ้นจี่</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Roasted Duck fillet cooked in a spicy red curry with coconut milk, bamboo shoots,
aubergines, capsicum, fine beans, cherry tomatoes, pineapple, lychee and basil leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£9.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>37</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Gang Kua Goong <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>แกงคั่วกุ้ง</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Large river prawns cooked in a spicy red curry with coconut milk, bamboo shoot,
aubergines, capsicum, fine beans, cherry tomatoes and pineapple</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£12.95</p>
      </div>
    </div>
    <div class="tt-menu-food-section" id="tt-menu-meat-poultry">
      <div class="tt-menu-food-section-heading">
        <a href="#tt-menu-meat-poultry">
          <h2>Meat &amp; Poultry</h2>
          <svg class="tt-arrow-yellow" height="10" width="20">
            <polygon points="10,0 20,0 15,10" />
          </svg>
        </a>
        <a href="#close">
          <svg class="tt-cross" height="14" width="22">
            <line x1="10" y1="2" x2="20" y2="12" />
            <line x1="10" y1="12" x2="20" y2="2" />
          </svg>
        </a>
      </div>
      <div class="tt-menu-group-pricing">
        <p>
          <span class="tt-menu-group-pricing-bold">Chicken</span> £7.95 /
          <span class="tt-menu-group-pricing-bold">Pork</span> £7.95 /
          <span class="tt-menu-group-pricing-bold">Beef</span> £8.50 /
          <span class="tt-menu-group-pricing-bold">Duck</span> £8.75
        </p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>40</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pad Prik <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>ผัดพริก</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried with fresh chilli, onion, fine beans, bamboo shoots, capsicum and
basil leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>41</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pad Khing</h3>
          <p>ผัดขิง</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried with fresh ginger, onion, capsicum and mushrooms, flavoured with soy
sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>42</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pad Tao Sie</h3>
          <p>ผัดเต้าซี่</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried in black bean sauce with onion, capsicum, carrot, baby corn, ginger
and mushrooms</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>43</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pad Priew Whan</h3>
          <p>ผัดเปรี้ยวหวาน</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried in a Thai sweet &amp; sour sauce with onion, carrot, pineapple, capsicum,
cucumber and tomatoes</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>44</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pra Gra Tiem Prik Thai</h3>
          <p>ผัดกระเทียมพริกไทย</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried with minced garlic, pepper &amp; coriander sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
    </div>
    <div class="tt-menu-food-section" id="tt-menu-speciality-meat-poultry">
      <div class="tt-menu-food-section-heading">
        <a href="#tt-menu-speciality-meat-poultry">
          <h2>Speciality - Meat &amp; Poultry</h2>
          <svg class="tt-arrow-yellow" height="10" width="20">
            <polygon points="10,0 20,0 15,10" />
          </svg>
        </a>
        <a href="#close">
          <svg class="tt-cross" height="14" width="22">
            <line x1="10" y1="2" x2="20" y2="12" />
            <line x1="10" y1="12" x2="20" y2="2" />
          </svg>
        </a>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>46</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Gai Yang - Kao Tord</h3>
          <p>ไก่ย่าง – ข้าวทอด</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Char-grilled, marinated chicken with garlic, coriander and soy sauce, served
with crispy rice and accompanied by a fresh lime &amp; chilli dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£10.50</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>47</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Gai Pad Med Ma-Muang *</h3>
          <p>ไก่ผัดเม็ดมะม่วง</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried chicken with cashew nuts, onion, capsicum and carrots</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£7.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>49</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Moo Pad Prik Gang <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>หมูผัดพริกแกง</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried pork in red curry sauce with coconut milk, onion, aubergines,
bamboo shoots, capsicum, chilli, fine beans and lime leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£7.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>51</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Nuer Pad Kee-Mao <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>เนื้อผัดขี้เมา</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Drunken Beef: Stir-fried beef in red curry sauce with onion, aubergines,
bamboo shoots, capsicum, fine beans, krachai and  lime leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£8.50</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>52</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Nuer Pad Num-Mun-Hoi</h3>
          <p>เน้ือผัดน้ํามันหอย</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried beef in oyster sauce with onion, capsicum, carrots and mushrooms</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£8.50</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>53</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Suer-Rong-Hai</h3>
          <p>เสือร้องไห้</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Weeping Tiger: Thinly sliced grilled sirloin of  beef, accompanied
            by a fresh lime &amp; chilli dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£11.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>54</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Khiew Whan Nuer Ga-Ta Ron</h3>
          <p>เขียวหวานเนื้อกะทะร้อน</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Thinly sliced grilled sirloin of beef topped with green curry sauce and basil leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£12.50</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>56</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Ped Pad Hed Hom</h3>
          <p>เป็ดผัดเห็ดหอม</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Slices of duckling stir-fried with shitake mushroom, capsicum, mange tout, baby
corn and ginger in oyster sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£8.75</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>58</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Ped Ma-Kham</h3>
          <p>เป็ดมะขาม</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Marinated duck fillet topped with sweet tamarind sauce and dried
shallots</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£10.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>59</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Gae Yang</h3>
          <p>แกะย่าง</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Char-grilled marinated lamb chop with minced coriander and oyster sauce,
accompanied by a fresh lime &amp; chilli dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£13.95</p>
      </div>
    </div>
    <div class="tt-menu-food-section" id="tt-menu-seafood">
      <div class="tt-menu-food-section-heading">
        <a href="#tt-menu-seafood">
          <h2>Seafood</h2>
          <svg class="tt-arrow-yellow" height="10" width="20">
            <polygon points="10,0 20,0 15,10" />
          </svg>
        </a>
        <a href="#close">
          <svg class="tt-cross" height="14" width="22">
            <line x1="10" y1="2" x2="20" y2="12" />
            <line x1="10" y1="12" x2="20" y2="2" />
          </svg>
        </a>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>60</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Goong Pad Prik <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>กุ้งผัดพริก</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried king prawns with fresh chilli, onion, fine beans, bamboo shoots,
capsicum and basil leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£9.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>61</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Goong Pad Priew Whan</h3>
          <p>กุ้งผัดเปรี้ยวหวาน</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried king prawns in a Thai sweet &amp; sour sauce with capsicum, pineapple,
onion, cucumber and tomatoes</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£9.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>62</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Goong Pad Gra-Tiem-Prik-Thai</h3>
          <p>กุ้งผัดกระเทียมพริกไทย</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried king prawns with minced garlic, pepper and coriander</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£9.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>63</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Goong Pad Pak</h3>
          <p>กุ้งผัดผัก</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried king prawns with mange tout, baby corn, carrots, mushrooms, cauliflower
and broccoli in oyster sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£9.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>64</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pla Muek Pad Prik <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>ปลาหมึกผัดพริก</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried squid with fresh chilli, onion, fine beans, bamboo shoots, capsicum
and basil leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£8.75</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>65</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pla Muek Pad Num-Prik-Pao <img class="tt-menu-spicy-icon" src="images/spicy-1.svg" align="top" alt="Slightly Spicy"></h3>
          <p>ปลาหมึกผัดน้ําพริกเผา</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried squid in Thai chilli oil with onion, bamboo shoots, capsicum and
lime leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£8.75</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>66</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pla Rad Prik <img class="tt-menu-spicy-icon" src="images/spicy-1.svg" align="top" alt="Slightly Spicy"></h3>
          <p>ปลาราดพริก</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Crispy fish fillet topped with a tasty sweet &amp; chilli sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
      <div class="tt-menu-group-pricing">
        <p><span class="tt-menu-group-pricing-bold">Sea Bass</span> £12.95 /
          <span class="tt-menu-group-pricing-bold">Tilapia</span> £9.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>67</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pla Tao-Sie</h3>
          <p>ปลาเต้าซี่</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Crispy fish fillet topped with ginger, onion, capsicum, baby corn, mange tout, carrots
and mushroom in black bean sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
      <div class="tt-menu-group-pricing">
        <p><span class="tt-menu-group-pricing-bold">Sea Bass</span> £12.95 /
          <span class="tt-menu-group-pricing-bold">Tilapia</span> £9.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>68</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pla Tord Gra-Tiem Prik-Thai</h3>
          <p>ปลาทอดกระเทียมพริกไทย</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Crispy fish fillet topped with minced garlic, pepper &amp; coriander sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
      <div class="tt-menu-group-pricing">
        <p><span class="tt-menu-group-pricing-bold">Sea Bass</span> £12.95 /
          <span class="tt-menu-group-pricing-bold">Tilapia</span> £9.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>69</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pla Nueng Ma-Nao <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>ปลานึ่่งมะนาว</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Steamed Sea Bass fillet topped with Thai chilli flavoured with fresh lemon
juice</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£12.95</p>
      </div>
    </div>
    <div class="tt-menu-food-section" id="tt-menu-speciality-seafood">
      <div class="tt-menu-food-section-heading">
        <a href="#tt-menu-speciality-seafood">
          <h2>Speciality - Seafood</h2>
          <svg class="tt-arrow-yellow" height="10" width="20">
            <polygon points="10,0 20,0 15,10" />
          </svg>
        </a>
        <a href="#close">
          <svg class="tt-cross" height="14" width="22">
            <line x1="10" y1="2" x2="20" y2="12" />
            <line x1="10" y1="12" x2="20" y2="2" />
          </svg>
        </a>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>70</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pad Prik Talay <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>ผัดพริกทะเล</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried spicy mixed seafood with chilli, bamboo shoots, onion, capsicum,
lime leaves, krachai and basil leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£11.50</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>71</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pad Talay Gra-Tiem-Prik-Thai</h3>
          <p>ผัดทะเลกระเทียมพริกไทย</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried mixed seafood with minced garlic, pepper &amp;coriander sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£11.50</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>72</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Goong Pao</h3>
          <p>กุ้งเผา</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Char-grilled large river prawns served with Thai spicy chilli dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£12.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>73</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Goong Chu-Chee <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>กุ้งฉู่ฉี่</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Deep-fried large river prawns topped with a thick and creamy red curry sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£12.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>74</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Goong Num-Pla-Whan *</h3>
          <p>กุ้งน้ําปลาหวาน</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Deep-fried large river prawns topped with crispy garlic, red onion
and cashew nuts in tamarind sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£12.95</p>
      </div>
    </div>
    <div class="tt-menu-food-section" id="tt-menu-vegetables">
      <div class="tt-menu-food-section-heading">
        <a href="#tt-menu-vegetables">
          <h2>Vegetable Dishes</h2>
          <svg class="tt-arrow-yellow" height="10" width="20">
            <polygon points="10,0 20,0 15,10" />
          </svg>
        </a>
        <a href="#close">
          <svg class="tt-cross" height="14" width="22">
            <line x1="10" y1="2" x2="20" y2="12" />
            <line x1="10" y1="12" x2="20" y2="2" />
          </svg>
        </a>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>80</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pad Ma-Kuer</h3>
          <p>ผัดมะเขือ</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried aubergines in black bean sauce with onion, capsicum and mange tout</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.75</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>81</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pad Broccoli</h3>
          <p>ผัดบร๊อคโคลี่</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried broccoli with oyster sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.75</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>82</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pad Pak Ruam</h3>
          <p>ผัดผักรวม</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried mixed vegetables with osyter sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.75</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>83</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pad Pak Priew Whan *</h3>
          <p>ผัดผักเปรี้ยวหวาน</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried mixed vegetables in Thai sweet &amp; sour sauce, topped with cashew nuts</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.95</p>
      </div>
    </div>
    <div class="tt-menu-food-section" id="tt-menu-rice-noodles">
      <div class="tt-menu-food-section-heading">
        <a href="#tt-menu-rice-noodles">
          <h2>Rice &amp; Noodles</h2>
          <svg class="tt-arrow-yellow" height="10" width="20">
            <polygon points="10,0 20,0 15,10" />
          </svg>
        </a>
        <a href="#close">
          <svg class="tt-cross" height="14" width="22">
            <line x1="10" y1="2" x2="20" y2="12" />
            <line x1="10" y1="12" x2="20" y2="2" />
          </svg>
        </a>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>90</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Kao Pad Tara Thai</h3>
          <p>ข้าวผัดธาราไทย</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Thai special fried rice with egg, prawns and chicken,
slices of capsicum and onion, flavoured with soy sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£7.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>91</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Kao Ob Sub-Pa-Rod *</h3>
          <p>ข้าวอบสับปะรด</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Chicken fried rice with egg, turmeric powder,
slices of  capsicum and onion, pineapple and cashew nuts</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£7.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>92</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Kao Pad Crab Meat</h3>
          <p>ข้าวผัดปู</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Crab meat fried rice with egg and spring onion</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£7.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>93</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Kao Ga-Ti</h3>
          <p>ข้าวกะทิ</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Steamed Thai jasmine rice with coconut milk</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£3.50</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>94</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Kao Kai</h3>
          <p>ข้าวไข่</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Fried Thai jasmine rice with egg</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£3.50</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>95</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Kao Nhiew</h3>
          <p>ข้าวเหนียว</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Steamed Thai sticky rice</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£3.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>96</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Kao Suoy</h3>
          <p>ข้าวสวย</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Steamed Thai jasmine rice</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£2.50</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>97</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pad Tang Taek</h3>
          <p>ผัดถังแตก</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Fried rice noodles with carrot, bean sprout and spring onion,
flavoured with soy sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.75</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>98</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pad Mee</h3>
          <p>ผัดหมี่</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Fried egg noodles with egg, carrot, bean sprout and green vegetables</p>
          <p class="center">
            (with
            <span class="tt-menu-item-description-bold">Chicken</span> £6.95 with
            <span class="tt-menu-item-description-bold">Prawn</span> £7.95)
          </p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.95</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>99</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pad Thai</h3>
          <p>ผัดไทย</p>
        </div>
        <div class="tt-menu-item-description">
          <p>A traditional and famous Thai rice noodles, stir-fried with egg and
special sauce, carrot, bean sprout and spring onion</p>
          <p class="center">
            (with
            <span class="tt-menu-item-description-bold">Chicken</span> £7.50 with
            <span class="tt-menu-item-description-bold">Prawn</span> £8.50)
          </p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£ 6.50</p>
      </div>
    </div>
    <div class="tt-menu-food-headings">
      <h1>Vegetarian Menu</h1>
    </div>
    <div class="tt-menu-food-section" id="tt-menu-veg-starters">
      <div class="tt-menu-food-section-heading">
        <a href="#tt-menu-veg-starters">
          <h2>Starters</h2>
          <svg class="tt-arrow-yellow" height="10" width="20">
            <polygon points="10,0 20,0 15,10" />
          </svg>
        </a>
        <a href="#close">
          <svg class="tt-cross" height="14" width="22">
            <line x1="10" y1="2" x2="20" y2="12" />
            <line x1="10" y1="12" x2="20" y2="2" />
          </svg>
        </a>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>100</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Vegetarian Platter</h3>
          <p>แพลตเทอร์เจ</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Mixed vegetable tempura, vegetable spring rolls, crispy bean curd and
sweet corn cakes, served with sweet chilli dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£11.50</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>101</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Por Pia Tord</h3>
          <p>ปอเปี๊ยะทอด</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Deep-fried vegetable spring rolls, served with sweet chilli dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>102</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Tord-Mun-Kao-Pode</h3>
          <p>ทอดมันข้าวโพด</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Deep-fried sweet corn cakes, served with sweet chilli dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>103</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Pak Choop Pang Tord</h3>
          <p>ผักชุบแป้งทอด</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Deep-fried mixed vegetables in light batter, served with sweet chilli dip</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.25</p>
      </div>
    </div>
    <div class="tt-menu-food-section" id="tt-menu-veg-soups">
      <div class="tt-menu-food-section-heading">
        <a href="#tt-menu-veg-soups">
          <h2>Soups</h2>
          <svg class="tt-arrow-yellow" height="10" width="20">
            <polygon points="10,0 20,0 15,10" />
          </svg>
        </a>
        <a href="#close">
          <svg class="tt-cross" height="14" width="22">
            <line x1="10" y1="2" x2="20" y2="12" />
            <line x1="10" y1="12" x2="20" y2="2" />
          </svg>
        </a>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>105</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Tom Yum Hed <img class="tt-menu-spicy-icon" src="images/spicy-1.svg" align="top" alt="Slightly Spicy"></h3>
          <p>ต้มยําเห็ด</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Thai hot &amp; sour cleared soup with mushrooms and tomatoes</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>106</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Tom Kha Hed <img class="tt-menu-spicy-icon" src="images/spicy-1.svg" align="top" alt="Slightly Spicy"></h3>
          <p>ต้มข่าเห็ด</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Similar in taste to Tom Yum, also creamy with coconut milk, mushrooms and tomatoes</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£5.25</p>
      </div>
    </div>
    <div class="tt-menu-food-section" id="tt-menu-veg-mains">
      <div class="tt-menu-food-section-heading">
        <a href="#tt-menu-veg-mains">
          <h2>Main Dishes</h2>
          <svg class="tt-arrow-yellow" height="10" width="20">
            <polygon points="10,0 20,0 15,10" />
          </svg>
        </a>
        <a href="#close">
          <svg class="tt-cross" height="14" width="22">
            <line x1="10" y1="2" x2="20" y2="12" />
            <line x1="10" y1="12" x2="20" y2="2" />
          </svg>
        </a>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>107</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Gang Pak <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>แกงผัก</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Mixed vegetables cooked in <span class="tt-menu-item-description-bold">red</span>
            or <span class="tt-menu-item-description-bold">green</span> curry with coconut milk,
bamboo shoots, fine beans, capsicum, aubergines and basil leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£7.50</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>108</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Gang Pa Pak <img class="tt-menu-spicy-icon" src="images/spicy-3.svg" align="top" alt="Very Spicy"></h3>
          <p>แกงปาผัก</p>
        </div>
        <div class="tt-menu-item-description">
          <p>A very spicy jungle curry based on red curry sauce cooked with
aubergines, fine beans, bamboo shoots, capsicum and Thai herbs</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£7.50</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>109</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Tao-Hoo Pad Prik <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <p>เต้าหู้ผัดพริก</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried bean curd with fresh chilli, onion, fine beans, capsicum,
bamboo shoots and basil leaves</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£7.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>110</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Tao-Hoo Pad Tao-Sie</h3>
          <p>เต้าหู้ผัดเต้าซี่่</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried bean curd in black bean sauce with mushrooms, ginger,
onion, capsicum, carrot and baby corn</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£7.25</p>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-number">
          <p>111</p>
        </div>
        <div class="tt-menu-item-name">
          <h3>Tao-Hoo Pad Priew Whan</h3>
          <p>เต้าหู้ผัดเปรี้ยวหวาน</p>
        </div>
        <div class="tt-menu-item-description">
          <p>Stir-fried bean curd with mixed vegetables in a Thai sweet &amp; sour sauce</p>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p>£7.25</p>
      </div>
    </div>
    <div class="tt-menu-food-headings">
      <h1>Special Set Menu</h1>
    </div>
    <div class="tt-menu-group-pricing tt-menu-group-pricing-display">
      <p>(Minimum 2 persons)</p>
    </div>
    <div class="tt-menu-food-section tt-menu-set-menu" id="tt-menu-set-a">
      <div class="tt-menu-food-section-heading">
        <h2>Set A</h2>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-name">
          <h3>&bull; Tara Thai Platter</h3>
          <h3>&bull; Chicken Green Curry <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <h3>&bull; Stir-fried beef with oyster sauce</h3>
          <h3>&bull; Stir-fried pork with garlic, pepper &amp; coriander sauce</h3>
          <h3>&bull; Steamed Thai Jasmine Rice</h3>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
      <div class="tt-menu-group-pricing tt-menu-group-pricing-right">
        <p>£20.95 per person</p>
      </div>
    </div>
    <div class="tt-menu-food-section tt-menu-set-menu" id="tt-menu-set-b">
      <div class="tt-menu-food-section-heading">
        <h2>Set B</h2>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-name">
          <h3>&bull; Tara Thai Platter</h3>
          <h3>&bull; Stir-fried squid with Thai chilli oil <img class="tt-menu-spicy-icon" src="images/spicy-1.svg" align="top" alt="Slightly Spicy"></h3>
          <h3>&bull; Crispy fish fillet topped with red curry sauce <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <h3>&bull; Stir-fried prawns with mixed vegetables in oyster sauce</h3>
          <h3>&bull; Steamed Thai Jasmine Rice</h3>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
      <div class="tt-menu-group-pricing tt-menu-group-pricing-right">
        <p>£24.95 per person</p>
      </div>
    </div>
    <div class="tt-menu-food-section tt-menu-set-menu" id="tt-menu-set-c">
      <div class="tt-menu-food-section-heading">
        <h2>Set C</h2>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-name">
          <h3>&bull; Tara Thai Platter</h3>
          <h3>&bull; Slices of duckling stir-fried with shitake mushroom</h3>
          <h3>&bull; Char-grilled large river prawns served with chilli dip</h3>
          <h3>&bull; Grilled sirloin of beef topped with green curry sauce <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <h3>&bull; Pad Thai noodles</h3>
          <h3>&bull; Steamed Thai Jasmine Rice</h3>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
      <div class="tt-menu-group-pricing tt-menu-group-pricing-right">
        <p>£28.95 per person</p>
      </div>
    </div>
    <div class="tt-menu-food-section tt-menu-set-menu" id="tt-menu-set-d">
      <div class="tt-menu-food-section-heading">
        <h2>Set D</h2>
      </div>
      <div class="tt-menu-item-descriptor-container">
        <div class="tt-menu-item-name">
          <h3>&bull; Vegetarian Platter</h3>
          <h3>&bull; Mixed vegetables red curry <img class="tt-menu-spicy-icon" src="images/spicy-2.svg" align="top" alt="Medium Spicy"></h3>
          <h3>&bull; Stir-fried bean curd with sweet &amp; sour sauce</h3>
          <h3>&bull; Stir-fried aubergines and basil leaves with black bean sauce</h3>
          <h3>&bull; Steamed Thai Jasmine Rice</h3>
        </div>
      </div>
      <div class="tt-menu-item-price">
        <p></p>
      </div>
      <div class="tt-menu-group-pricing tt-menu-group-pricing-right">
        <p>£18.95 per person</p>
      </div>
      <div class="tt-menu-group-pricing tt-menu-group-pricing-display">
        <p>Vanilla Ice-cream or Tea or Coffee is included in every set meal (excluding takeaway).</p>
      </div>
      <br>
      <div class="tt-menu-group-pricing tt-menu-group-pricing-display">
        <p>Items marked with an asterisk (*) <span class="tt-menu-group-pricing-bold">contain nuts</span>.</p>
      </div>
    </div>
  </div>
</div>
