<div class="tt-content tt-content-bg-red">
  <div class="tt-form-submission-response">
    <p class="tt-form-submission-response-text">There was a problem with your form submission. Please call <a href="tel:01702391171" alt="Call Tara Thai"><span>01702 391 171</span></a> and we will be delighted to deal with your enquiry over the phone.</p>
  </div>
</div>
