<div class="tt-content tt-content-bg-red">
  <div class="tt-form-submission-response">
    <p class="tt-form-submission-response-text">Thank you. A member of the Tara Thai team will get back to you soon.</p>
  </div>
</div>
